.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	width: 300px;
	padding: 20px;
	background-color: #272727;
	border-radius: 12px;
}

.display {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	height: 10vh;
	padding: 0 2vw;
	background-color: #3a3a3a;
	border-radius: 6px;
}

.display_values {
	font-size: 32px;
	color: aliceblue;
}

.resultDisplay {
	font-size: 32px;
	color: #8644d0;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-top: 20px;
}

.button {
	background-color: #3a3a3a;
	color: white;
	font-size: 24px;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
}
